/* Design */
*,
*::before,
*::after {
    box-sizing: border-box;
}

.background {
    width: 100vw;
    height: 15vw;
}

body {
    color: #272727;
    font-family: 'Quicksand', serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    background-color: #05292E;
    justify-content: center;
    align-items: center;
}

.main {
    margin-top: 20px;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;

}

.card_name {
    color: #ffffff;
}

.father-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100px;
}



.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.title-container {
    width: 153px;
    height: 38px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.text-container {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
.column {
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #7E7E7E;
}

.card_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #FBFBFB;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.cards-container {
    margin-top: 5%;
    margin-bottom: 5%;
    display: grid;
    width: 50%;
    grid-template-columns: 1fr 1fr 1fr;
}
.cards_item {
    list-style: none;
    
}
@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;
    }
}


.card_content {
    padding: 1rem;
    background: #062226;
}

.card_title {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card_text {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}

.made_by {
    font-weight: 400;
    font-size: 13px;
    margin-top: 35px;
    text-align: center;
}